/*
*{
	transition: all .5s;
	box-sizing: border-box;
}

body{
	font:1em 'PT Sans', Arial, Helvetica;
	background: url(http://subtlepatterns.com/patterns/grid.png);
	color:#333;
}

				/*CSS grid*/
/*
.container {
	width: 940px;
	margin: 0 auto;
}

.row{
	margin-bottom: 20px;
}
.row:AFTER{
	display: block;
	content: '.';
	height: 0;
	visibility: hidden;
	clear: both;
}

[class*="span"]{
	float: left;
	display: inline;
	margin-right: 20px;
}
[class*="span"]:last-child{
	margin: 0;
	float: right;
}

.span1 {width:60px}
.span2 {width:140px}
.span3 {width:220px}
.span4 {width:300px}
.span5 {width:380px}
.span6 {width:460px}
.span7 {width:540px}
.span8 {width:620px}
.span9 {width:700px}
.span10{width:780px}
.span11{width:860px}
.span12{width:940px}

.offset1 {margin-left:60px}
.offset2 {margin-left:140px}
.offset3 {margin-left:220px}
.offset4 {margin-left:300px}
.offset5 {margin-left:380px}
.offset6 {margin-left:460px}
.offset7 {margin-left:540px}
.offset8 {margin-left:620px}
.offset9 {margin-left:700px}
.offset10{margin-left:780px}
.offset11{margin-left:860px}
.offset12{margin-left:940px}

/*main*/

 /*


 There are 12 columns. Between them padding of 20 pixels.
The width of all columns with the padding 720 pixels. 
Hence the width of one column of 720/12 = 60 pixels.  

	int columsCount = 12;
		int firstColums = 60;
		int padding = 20;
		int sum = firstColums; 

	for(int i = 1; i <= columsCount; i++){
		
		sum += firstColums + padding;
				
		System.out.println(sum);
		140
        220
        300
        380
        460
        540
        620
        700
        780
        860
        940
        
        1
        2
        3
        4
        5
        6
        7
        8
        9
        10
        11
        12
	}

}

*/
body {
    font: 1em 'PT Sans', Arial, Helvetica;
    background: #EDEDEC;
    color: #333;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.headers {
    background: #D1D1D0;
    height: 200px;
}
.menus{
    height: auto, 800px;
    float: left;
    width: 200px;
    height: 600px;
}

.bodys {
    height: 600px;
    background: #D1D1D0;
}
.registration{
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}
.footers {
    background: #D1D1D0;
}